<%= form_for(@assginment) do |f| %>
  <% if @assginment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assginment.errors.count, "error") %> prohibited this assginment from being saved:</h2>

      <ul>
      <% @assginment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :worker %><br>
    <%= f.text_field :worker %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.text_field :project %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
