<h1>Listing assginments</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Worker</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assginments.each do |assginment| %>
      <tr>
        <td><%= assginment.start_date %></td>
        <td><%= assginment.end_date %></td>
        <td><%= assginment.worker %></td>
        <td><%= assginment.project %></td>
        <td><%= link_to 'Show', assginment %></td>
        <td><%= link_to 'Edit', edit_assginment_path(assginment) %></td>
        <td><%= link_to 'Destroy', assginment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assginment', new_assginment_path %>
